---
title: About page
layout: base.njk
---

<div class="container">
    <h1>This is a page for Jamstack</h1>
    <p>It was made for you using HTML, CSS and Javascript. And served as a JAMSTACK site.</p>
</div>

{% for article in news %}
    <a href="/{{ article.country }}">{{ article.country }}</a> |
{% endfor %}