---
title: A page for you
layout: base.njk
---

<div class="container">
    <h1>This is a page for Jamstack</h1>
    <div class="vibe">hello, world!</div>
    <div class="love">
            &#9829; 
    </div>

    <ul>
    {% for c in cars %}
        <li><a href="">{{ c.brand }}</a></li>
    {% endfor %}
    </ul>
</div>