---
title: Daily News
layout: base.njk
pagination:
    data: news
    size: 1
    alias: news
permalink: /{{ news.country }}/index.html
---

<div class="container">
    <div class="row">
    {% for article in news.articles %}
        
    <div class="col s12 m6">
      <div class="card medium">
        <div class="card-image">
          <img src="{{ article.image }}">
          <span class="card-title">{{ article.source.name }} | <time datetime={{ article.publishedAt }}>{{ article.publishedAt }}</time></span>
        </div>
        <div class="card-content">
          <p>{{ article.description }}</p>
        </div>
        <div class="card-action">
          <a href="{{ article.url }}">{{ article.title }}</a>
        </div>
      </div>
    </div>
  
    {% endfor %}
    </div>
</div>