---
title: The latest news
layout: base.njk
---

<div class="container">
    <h1>{{ news[0].country }}</h1>
    <div class="row">
    {% for article in news[0].articles %}
        
    <div class="col s12 m6">
      <div class="card small">
        <div class="card-image">
          <img src="{{ article.image }}">
          <span class="card-title grey-text text-darken-4">{{ article.source.name }} | <time datetime={{ article.publishedAt }}>{{ article.publishedAt }}</time></span>
        </div>
        <div class="card-content">
          <p>{{ article.description }}</p>
        </div>
        <div class="card-action">
          <a href="{{ article.url }}">{{ article.title }}</a>
        </div>
      </div>
    </div>
  
    {% endfor %}
    </div>
</div>


